:root {
    --color-bg: #fff;
    --color-text: #000;
    --font-body: "Barlow", sans-serif;
    --font-title: "Roboto", sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}